In [136]:
from collections import defaultdict
import operator

name=['Thanh', 'Thanh', 'Thanh', 'Thanh', 'Thanh', 'Thanh', 'Thanh', 'Thanh', 'Thanh', 'Thanh', 'Thanh', 'Thanh', 'Thanh', 'Thanh', 'Thanh', 'Thanh', 'Thanh', 'Thanh', 'Thanh', 'Thanh', 'Thanh', 'Thanh', 'Thanh', 'Thanh', 'Thanh', 'Thanh', 'Thanh', 'Thanh', 'Thanh', 'Thanh', 'Thanh', 'Farhan', 'Farhan', 'Farhan', 'Farhan', 'Farhan', 'Farhan', 'Farhan', 'Farhan', 'Farhan', 'Farhan', 'Farhan', 'Farhan', 'Farhan', 'Farhan', 'Farhan', 'Farhan', 'Farhan', 'Farhan', 'Farhan', 'Farhan', 'Farhan', 'Farhan', 'Farhan', 'Farhan', 'Farhan', 'Farhan', 'Farhan', 'Farhan', 'Farhan', 'Farhan', 'Farhan', 'Farhan', 'Farhan', 'Farhan', 'Farhan', 'Farhan', 'Farhan', 'Farhan', 'Farhan', 'Farhan', 'Farhan', 'Farhan', 'Farhan', 'Farhan', 'Farhan', 'Farhan', 'Farhan', 'Farhan', 'Farhan', 'Farhan', 'Farhan', 'Farhan', 'Farhan', 'Farhan', 'Farhan', 'Farhan', 'Farhan', 'Farhan', 'Farhan', 'Farhan', 'Farhan', 'Farhan', 'Farhan', 'Farhan', 'Farhan', 'Farhan', 'Farhan', 'Farhan', 'Farhan'] 
proba=[0.5034575055202198, 0.5520427821890966, 0.6030068225164448, 0.6030068225164448, 0.5860999564454077, 0.6237040533382533, 0.6237040533382533, 0.6258886187471548, 0.5001838272994527, 0.6661051245432064, 0.6661051245432064, 0.5244546106956314, 0.5101621915537603, 0.5101621915537603, 0.5360828000075919, 0.7139691984036189, 0.5189895832129657, 0.5714286826531549, 0.5714286826531549, 0.5987919542825614, 0.5283934434964509, 0.5283934434964509, 0.6202250454792679, 0.525258458484734, 0.525258458484734, 0.5133644387244062, 0.5091241038219045, 0.6368190915395978, 0.6368190915395978, 0.7494164210808851, 0.5488402680202662, 0.7808161999524619, 0.6045882518655675, 0.6045882518655675, 0.7290776594449505, 0.7699865134064742, 0.7519652244848499, 0.7519652244848499, 0.8077852649049353, 0.7134707990155944, 0.8037688136466692, 0.8037688136466692, 0.7393492726505467, 0.7236299481597214, 0.9211631751681413, 0.9211631751681413, 0.8755956726930461, 0.7716040416308472, 0.8283740437142579, 0.8283740437142579, 0.6911285808068242, 0.815269220327726, 0.7761349900751436, 0.7761349900751436, 0.8543060937857131, 0.8214034671748194, 0.8277116720005308, 0.8277116720005308, 0.8489207294643405, 0.8508585582340787, 0.8292307145069551, 0.8292307145069551, 0.9190399370528969, 0.8262608879618495, 0.8262608879618495, 0.8855626586457667, 0.8920971556583306, 0.8393652541022983, 0.8393652541022983, 0.6522542191928085, 0.763941244808842, 0.6617301069272125, 0.6617301069272125, 0.7505104609623339, 0.7797390400367972, 0.7743520828749992, 0.7743520828749992, 0.7334068254114521, 0.6420824926612195, 0.5816118856366084, 0.5816118856366084, 0.7435587907907325, 0.7185212563558573, 0.5728508640357881, 0.5728508640357881, 0.6745666964202567, 0.6919964220309587, 0.6919964220309587, 0.6603307426773032, 0.6640376552400149, 0.572635793799911, 0.7192547747301853, 0.5533876753863931, 0.5533876753863931, 0.5002616186662556, 0.5655049212392814, 0.5655049212392814, 0.7312076638045019, 0.815812376244331, 0.7306884793725411]

d = defaultdict(list)
for key, value in zip(name, proba):
    d[key].append(value)

occurence=dict(d)

In [137]:
thisset=set(occurence)
for x in thisset:
    occurance_individual=len(occurence[x])
    occurence[x]=sum(item for item in occurence[x])
    
a=sum(occurence.values())

for x in thisset:
    occurence[x]=occurence[x]/a

In [138]:
occurence

{'Thanh': 0.2595137703162323, 'Farhan': 0.7404862296837676}

In [139]:
occurence['Thanh']

0.2595137703162323

In [141]:
highest_face=max(occurence.items(), key=operator.itemgetter(1))[0]

In [1]:
highest_face

NameError: name 'highest_face' is not defined

In [79]:
import pandas as pd
import numpy as np

records = pd.read_csv('attendance-system.csv') #PROSES PERBAIKAN RAW DATA
deduped = records.drop_duplicates(['Name'], keep='first')
deduped =deduped.drop(columns=['Time Sign Out'])
signed_out=records.loc[records['Time Sign Out'].notna()]
deduped_out = signed_out.drop_duplicates(['Name'], keep='first')
deduped_out =deduped_out.drop(columns=['Time Sign In'])
mergedStuff = pd.merge(deduped, deduped_out, on=['Name'],suffixes=(' Sign In', ' Sign Out'))
attend_data = mergedStuff[mergedStuff.Name != 'unknown']
attend_data.to_csv('coba.csv', index=False)

In [75]:
mergedStuff = pd.merge(deduped, deduped_out, on=['Name'],suffixes=(' Sign In', ' Sign Out'))

In [76]:
mergedStuff

  Date Sign In    Name Time Sign In Date Sign Out Time Sign Out
0   15/12/2019  Farhan     22:53:00    15/12/2019      22:53:29

In [45]:
deduped_out

         Date    Name Time Sign In Time Sign Out
0  15/12/2019    Ivan     22:51:59           NaN
2  15/12/2019  Farhan     22:53:00           NaN

In [31]:
test=records.groupby(level=0).first()

In [29]:
test

           Date    Name Time Sign In Time Sign Out
0    15/12/2019    Ivan     22:51:59           NaN
1    15/12/2019    Ivan     22:52:02           NaN
2    15/12/2019  Farhan     22:53:00           NaN
3    15/12/2019  Farhan     22:53:01           NaN
4    15/12/2019  Farhan     22:53:03           NaN
..          ...     ...          ...           ...
113  15/12/2019  Farhan          NaN      23:29:43
114  15/12/2019  Farhan          NaN      23:29:44
115  15/12/2019  Farhan          NaN      23:29:44
116  15/12/2019  Farhan          NaN      23:29:45
117  15/12/2019  Farhan          NaN      23:29:48

[118 rows x 4 columns]

In [32]:
records

           Date    Name Time Sign In Time Sign Out
0    15/12/2019    Ivan     22:51:59           NaN
1    15/12/2019    Ivan     22:52:02           NaN
2    15/12/2019  Farhan     22:53:00           NaN
3    15/12/2019  Farhan     22:53:01           NaN
4    15/12/2019  Farhan     22:53:03           NaN
..          ...     ...          ...           ...
113  15/12/2019  Farhan          NaN      23:29:43
114  15/12/2019  Farhan          NaN      23:29:44
115  15/12/2019  Farhan          NaN      23:29:44
116  15/12/2019  Farhan          NaN      23:29:45
117  15/12/2019  Farhan          NaN      23:29:48

[118 rows x 4 columns]